html {
    height:100%;
}

body {
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #4099C3, #283048);
}

h2{
    vertical-align:middle;
    text-align:center;
    color: #FFFFFF;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:lighter;
}

h1{
    vertical-align:middle;
    text-align:center;
    font-weight:lighter;
    color:#0293B7;
    margin-top:5px;
    margin-bottom:17px;
}

/*display styling*/

header {
    height:100px;
    margin-bottom:10%;
}

.display {
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #3e8db5, #315b7b);
    width: 26.66%;
    height: 100%;
    float:left;
    margin-left:5%;
    border-radius:10px;
    border-bottom: 2px solid #2E4966;
}

/*coin positioning*/

#static-coin, #coin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*button positioning*/

#button {
    margin: auto;
    position: fixed;
    top: 70%; left: 0; bottom: 0; right: 0;
}

#reset-btn {
    margin: auto;
    position: fixed;
    top: 40%; left: 30%; bottom: 0; right: 0;
}

/*coin flip animation*/

#flipping-coin {
    display:none;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: anim .5s infinite linear;
    animation: anim .5s infinite linear;
}

@-webkit-keyframes anim {
    from {-webkit-transform: rotateX(0deg);}
    to {-webkit-transform: rotateX(360deg);}
}

@keyframes anim {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}

/*media query for reset button*/

@media only screen and (max-width: 600px)  {
    #reset-btn {
        margin: auto;
        position: fixed;
        top: 40%; left: 60%; bottom: 0; right: 0;
    }
}

